$thirdcolor:#f05454;

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.ColorTextMain {
    color: $thirdcolor;
}

@media (max-width: 700px) {
    .home {
        padding: 5em;
        font-size: 0.6em;
        height: 50vh;
        text-align: center;

        .home-content {
            line-height: 2em;
        }
    }
}