$thirdcolor:#f05454;

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    font-size: 1.5em;
}

.ColorTextMain {
    color: $thirdcolor;
}

@media (max-width: 1200px) {
    .home {
        padding: 5em 1em;
        font-size: 0.75em;
        height: 50vh;
        text-align: center;

        .home-content {
            line-height: 2em;
        }
    }
}