$primaryColor:#222831;
$secondaryColor:#30475e;
$thirdcolor:#f05454;
$textColor:#e8e8e8;

body {
    background-color: $primaryColor;
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;

    a {
        display: block;
        font-weight: 600;
        color: $thirdcolor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover {
        background-color: $thirdcolor;
        color: $primaryColor;
    }
}

@media (max-width: 700px) {
    .nav {
        padding: 0px 3em;
        justify-content: space-evenly;
    }
}